:root {
    --bg-botton: #f0f0f0;
    --border-botton: solid 1px #888888;
}
.button{
    font-size: 1.4em;
    background-color: var(--bg-botton);
    border: none;
    border-right: var(--border-botton);
    border-bottom: var(--border-botton);
    outline: none;

}
.button:active{
    background-color: #ccc;
}
.double{
    grid-column: span 2;
}
.triple{
    grid-column: span 3;
}
.operation{
    background-color: #fa8231;
}
.operation:active{
    background-color: #fa8231cc;
}